@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
body,
html,
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Merriweather";
  overflow-x: hidden;
}
